

**Exercise 1: Arithmetic Operations**
Q: Take two numbers as input and calculate their sum, difference, product, quotient, and remainder using arithmetic operators.
A:


**Exercise 2: Comparison Operators**
Q: Take two numbers as input and determine whether they are equal, not equal, greater than, and less than each other using comparison operators.
A:


**Exercise 3: Logical Operators**
Q: Take two boolean values as input and print the result of their AND, OR, and NOT operations using logical operators.
A:


**Exercise 4: Bitwise Operations**
Q: Take two integer numbers as input and perform bitwise AND, OR, XOR, and NOT operations on them.
A:


**Exercise 5: Precedence of Operators**
Q: Take three numbers as input and create an expression using addition, subtraction, multiplication, and division. Print the result considering operator precedence.
A:

In [10]:

a=4
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)

9
-1
20
0.8
4

In [11]:
a=5
b=10
print(a==b)
print(a!=b)
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)

False
True
False
False
True
True

In [12]:
print((9>7)and(2<4))
print((8==8)or(6!=6))
print(not(3<=1))

True
True
True

In [13]:

a=5
b=4
print(a&b)
print(a|b)
print(a^b)
print(~a)

4
5
1
-6



**Exercise 6: Mixed Operators**
Q: Take two numbers as input and calculate the result of the expression `(a + b) * (a - b) / (a ** b)` using arithmetic operators.


**Exercise 7: Complex Comparison**
Q: Take three numbers as input and determine if the first number is strictly between the second and third numbers (exclusive), using comparison operators.


**Exercise 8: Convert Seconds**
Q: Take the number of seconds as input and convert it into hours, minutes, and remaining seconds using arithmetic operators.


**Exercise 9: Swap Variables**
Q: Take two numbers as input and swap their values without using a temporary variable, using arithmetic operators.


**Exercise 10: Investment Growth**
Q: Take the principal amount, interest rate, and number of years as input. Calculate the final amount using the formula `A = P * (1 + r/n) ** (nt)`, where `n` is the number of times interest is compounded per year and `t` is the number of years.
A:

In [9]:
a=2
b=3
print((a+b)*(a-b)/(a**b))

-0.625

In [14]:
a=5
b=2
c=10
print(b<a<c)

True

In [15]:
seconds=12601

seconds=seconds%(24*3600)
hour=seconds//3600
seconds%=3600
minutes=seconds//60
seconds%=60
print("%d:%02d:%02d"%(hour,minutes,seconds))

3:30:01

In [17]:
a=5
b=10
a=a+b
b=a-b
a=a-b
print("a:",a)
print("b:",b)

a: 10
b: 5

In [20]:
p=10000
i=3.5
t=7
amount=p*((1+(0.01*i))**t)
print(round(amount,2))

12722.79



**Exercise 11: Temperature Converter**
Q: Take the temperature in Celsius as input and convert it to Kelvin and Fahrenheit using appropriate operators.
A:


**Exercise 12: Speed Calculator**
Q: Take the distance (in kilometers) and time (in hours) as input. Calculate the speed in kilometers per hour using arithmetic operators.
A:


**Exercise 13: Triangle Area Calculator**
Q: Take the base and height of a triangle as input. Calculate and print its area using arithmetic operators.
A:


**Exercise 14: Volume of a Sphere**
Q: Take the radius of a sphere as input. Calculate and print its volume using arithmetic operators.
A:

**Exercise 15: Time Conversion**
Q: Take a time duration in seconds as input. Convert and print it in the format of hours, minutes, and seconds using arithmetic operators.
A:

In [22]:
celsius=37.5
fahrenheit=celsius*1.8+32
kelvin=celsius + 273.15
print(fahrenheit)
print(kelvin)

99.5
310.65

In [23]:
distance=30
time=2
speed=distance/time
print(speed)

15.0

In [25]:
base=20
height=40
area=base*height/2
print(area)

400.0

In [26]:
radius=6
volume=((4/3)*(22/7)*radius**3)
print(volume)

905.142857142857

In [27]:
seconds=6300

seconds=seconds%(24*3600)
hour=seconds//3600
seconds%=3600
minutes=seconds//60
seconds%=60
print("%d:%02d:%02d"%(hour,minutes,seconds))

1:45:00